<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/jquery-ui.min.css}" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="conteiner">
		<div class="card-header">
			<div th:text="${titulo}"></div>
		</div>
		
		<div class="card-body">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">id</th>
			      <th scope="col">tipo</th>
			      <th scope="col">Monto</th>
			      <th scope="col">Fecha</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="movimiento: ${movimientos}">
			      <td th:text="${movimiento.id}"></td>
			      <td th:text="${movimiento.tipo}"></td>
			      <td th:text="${movimiento.monto}"></td>
			      <td th:text="${movimiento.fecha}"></td>
			    </tr>
			  </tbody>
			</table>
			
			<div class="row container">
				<div class="col">
				<a th:href= "@{'/agregarmovimiento/' + ${idcuenta}}"class="btn btn-primary" role="button">Agregar</a>
					
			</div>
			<div class="col">
					<a th:href="@{'/listarcuenta/' + ${idcliente}}"  class="btn btn-primary" role="button">Volver</a>
			</div>
			</div>
		</div>
	</div>
</body>
</html>